body {
  font-family: 'Heebo', sans-serif;
}
h1 {
  color: darkgoldenrod;
  font-weight: 200;
  font-size: 3em;
}
h2 {
  font-weight: 400;
  color: darkcyan;
}
ol {
  list-style-type: hebrew;
}
img {
  max-width: 100%;
}